/* Empty. Add your own CSS if you like */
h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

.pbmovement {
  color: red;
}

.specificmovt{
  /*text-indent: 30px;*/
  padding-left: 32px;

}

.mvtdescription{
  font-weight: bold;
}

.button_text{
  font-weight: bold:
}
.textpadding{
  padding-left: 16px;
}

.rounds{
  font-weight: bold;
}
