/* Empty. Add your own CSS if you like */
h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

.pbmovement {
  color: red;
}

.specificmovt{
  text-indent: 20px;
}

.mvtdescription{
  font-weight: bold;
}

.rounds{
  font-weight: bold;
}
