<ion-view view-title="metcon">
  <ion-content class="padding">


      <h1>Metcon Result</h1>
      <h3>{{ date | date: 'EEE dd MMM'}}</h3>

      <form name="metconForm">
        <ion-list>
          <label class="item item-input item-select">
            <div class="input-label">
              Measure
            </div>
            <select name="measurement" ng-model="user.measure">
              <option>For Time</option>
              <option>For Reps</option>
              <option>For Rounds</option>
              <option>For Distance</option>
              <option>For Load</option>
              <option>For Total Score</option>
              <option>No Score</option>
            </select>
          </label>

          <label class="item item-input">
            <span class="input-label">
              Result
            </span>
            <input type="number" name="result" ng-model="user.result">
          </label>

          <div class="item item-input-inset">
            <label class="item-input-wrapper" name="notes">
              <input type="text" placeholder="Notes" ng-model="user.notes">
            </label>
          </div>

          <button type="submit" ng-click="submit(user)" class="button button-block button-positive">Save Result!</button>

        </ion-list>
      </form>
  </ion-content>
</ion-view>
