<ion-view view-title="metcon">
  <ion-content class="padding">


      <h1>Metcon Result</h1>
      <h3>{{ date | date: 'EEE dd MMM'}}</h3>

      <form name="metconForm">
        <ion-list>
          <label class="item item-input item-select">
            <div class="input-label">
              Measure
            </div>
            <select>
              <option>For Time</option>
              <option>For Reps</option>
              <option>For Rounds</option>
              <option>For Distance</option>
              <option>For Load</option>
              <option>For Total Score</option>
              <option>No Score</option>
            </select>
          </label>
        </ion-list>
      </form>

      <!-- <form name="metcon" novalidate="">
        <div class="list">
          <label class="item item-input item-select">

            <select>
              <option>For Time</option>
              <option>For Reps</option>
              <option>For Rounds</option>
              <option>For Distance</option>
              <option>For Load</option>
              <option>Total Score</option>
              <option>No Score</option>
            </select>
          </label>

      </div>

      </form>  -->

  </ion-content>
</ion-view>
