<ion-view view-title="WOD">
  <ion-content class="padding" ng-init="training()">
    <div class = "card">
      <h1>{{workout[0].date | date: 'EEE dd MMM'}}</h1>
      <h3>{{workout[0].box.info.name}}</h3>

      <!-- if "strength" object not empty, then print out values -->
      <h2>{{workout[0].box.info.training.strength.type}} - {{workout[0].box.info.training.strength.time}}</h2>
        <!-- this is the complete string -->
        <p>{{workout[0].box.info.training.strength.exercise[0]}}</p>
        <!-- description -->
        <p>{{workout[0].box.info.training.strength.exercise[0].movement.description}}</p>
        <!-- rounds  -->
        <p>{{workout[0].box.info.training.strength.exercise[0].movement.sets}} rounds</p>

        <!-- movement & reps -->
          <p><span class="PBmovement">{{workout[0].box.info.training.strength.exercise[0].movement.type[0]}}</span> -
           {{workout[0].box.info.training.strength.exercise[0].movement.reps[0]}} reps</p>

           <p><span class="PBmovement">{{workout[0].box.info.training.strength.exercise[0].movement.type[1]}}</span> -
             {{workout[0].box.info.training.strength.exercise[0].movement.reps[1]}} reps</p>

             









      <div class="item item-divider">
        Strength
      </div>
      <div ng-repeat="movement in currentDayStrength">
        <p>{{movement}}</p>
      </div>

      <div class="item item-divider">
        Metcon
      </div>
      <div ng-repeat="movement in currentDayMetcon">
        <p>{{movement}}</p>
      </div>

    </div>
  </ion-content>
</ion-view>
