
<ion-view view-title="WOD">
  <ion-content class="padding" ng-init="training()">
    <div class = "card">

      <p>second template</p>


      <h1>{{workout[0].box.cfhackney.week411.date|date: 'EEE dd MMM'}}</h1>

      <h3>{{workout[0].box.cfhackney.name}}</h3>

      <!-- if "strength" object empty, don't print out these values -->
      <h2 class="item item-divider">{{workout[0].box.cfhackney.week411.strength.type}} - {{workout[0].box.cfhackney.week411.strength.time}} mins</h2>

        <!-- description -->
      <div class="textpadding">
        <p class="mvtdescription">{{workout[0].box.cfhackney.week411.strength.exercise[0].movement.description}}</p>


        <!-- rounds  -->
        <p>{{workout[0].box.cfhackney.week411.strength.exercise[0].movement.sets}} rounds</p>

        <!-- movement & reps -->
          <div class="specificmovt">
            <p><span class="button button-positive button-small" ng-click=personalBest($event)>{{workout[0].box.cfhackney.week411.strength.exercise[0].movement.type[0]}}</span> -
             {{workout[0].box.cfhackney.week411.strength.exercise[0].movement.reps[0]}} reps</p>
            <p>{{workout[0].box.cfhackney.week411.strength.exercise[0].movement.freetext}}</p>


             <p><span class="button button-positive button-small button-text" ng-click=personalBest($event)> {{workout[0].box.cfhackney.week411.strength.exercise[0].movement.type[1]}}</span> -
               {{workout[0].box.cfhackney.week411.strength.exercise[0].movement.reps[1]}} reps</p>
              <p>{{workout[0].box.cfhackney.week411.strength.exercise[0].movement.freetext}}</p>
          </div>

        <!-- description -->
        <p class="mvtdescription">{{workout[0].box.cfhackney.week411.strength.exercise[1].movement.description}}</p>

        <!-- rounds  -->
        <p>{{workout[0].box.cfhackney.week411.strength.exercise[1].movement.sets}} rounds</p>

        <!-- movement & reps -->
          <div class="specificmovt">
            <p><span class="button button-positive button-small" ng-click=personalBest($event)>{{workout[0].box.cfhackney.week411.strength.exercise[1].movement.type[0]}}</span> -
             {{workout[0].box.cfhackney.week411.strength.exercise[1].movement.reps[0]}} rep</p>
            <p><span class="button button-positive button-small" ng-click=personalBest($event)>{{workout[0].box.cfhackney.week411.strength.exercise[1].movement.type[1]}}</span> -
              {{workout[0].box.cfhackney.week411.strength.exercise[1].movement.reps[1]}} rep</p>

             <p>{{workout[0].box.cfhackney.week411.strength.exercise[1].movement.freetext}}</p>
          </div>

          <!-- description -->
          <p class="mvtdescription">{{workout[0].box.cfhackney.week411.strength.exercise[2].movement.description}}</p>

          <!-- rounds  -->
          <p>{{workout[0].box.cfhackney.week411.strength.exercise[2].movement.sets}} rounds</p>

          <!-- movement & reps -->
          <div class="specificmovt">
            <p><span class="button button-positive button-small" ng-click=personalBest($event)>{{workout[0].box.cfhackney.week411.strength.exercise[2].movement.type[0]}}</span> -
             {{workout[0].box.cfhackney.week411.strength.exercise[2].movement.reps[0]}} rep</p>
            <p><span class="button button-positive button-small" ng-click=personalBest($event)>{{workout[0].box.cfhackney.week411.strength.exercise[2].movement.type[0]}}</span> -
              {{workout[0].box.cfhackney.week411.strength.exercise[2].movement.reps[0]}} rep</p>

             <p>{{workout[0].box.cfhackney.week411.strength.exercise[2].movement.freetext}}</p>
          </div>

      </div>

<!-- metcon section -->
    <div class="item item-divider">
      {{workout[0].box.cfhackney.week411.metcon.type}} - {{workout[0].box.cfhackney.week411.metcon.time}} mins
    </div>

    <div class="textpadding">
      <p class="rounds">{{workout[0].box.cfhackney.week411.metcon.rounds}} rounds</p>
      <!-- description -->
      <p class="specificmovt">{{workout[0].box.cfhackney.week441.metcon.freetext}}</p>
    </div>

    <button class="button button-positive button-small right" ui-sref="metcon">
        Metcon Finished?
    </button>


    </div>
  </ion-content>
</ion-view>
